/* tab-type-1 */
.tab-type-1 {
  display:flex;
  justify-content: center;
}
.tab-type-1 li {
  margin:0 20px;
}
.tab-type-1 li a {
  position:relative;
  display:block;
  padding:0 0 5px 0;
  color:#333;
  font-size:24px;
  font-weight:500;
}
.tab-type-1 li a:after {
  content:'';
  display:block;
  position:absolute;
  bottom:0;
  left:50%;
  width:0;
  height:1px;
  background-color:#000;
  transition:all .2s ease-in-out;
}
.tab-type-1 li a.active:after {
  left:0;
  width:100%;
}

/* faq-list */
.faq-list {
  padding:100px;
}
.faq-list li {
  padding:10px;
  border-bottom:1px solid #ccc;
}
.faq-list li .q {
  display:block;
  padding:5px;
  font-size:20px;
}
.faq-list li .a {
  display:none;
  padding:5px;
  font-size:16px;
  line-height:20px;
}
.faq-list li.active .q {
  color:red;
  font-weight:bold;
}

/* product-list */
.product-list {
  display: flex;
  flex-wrap:wrap;
}
.product-list li {
  width:33.33333%;
  margin-top:30px;
}
.product-list li a {
  position:relative;
  display:block;
  overflow: hidden;
  font-size:0;
  line-height:0;
}
.product-list li a img {
  width:100%;  
  transition:all .2s ease-in-out;
}
.product-list li a .hover {
  position:absolute;
  left:0;
  top:0;
  right:0;
  opacity: 0;
  transition:all .2s ease-in-out;
}
.product-list li a:hover .hover {
  transform:scale(1.1);
  opacity: 1;
}
/* .product-list li a:hover img {
  transform:scale(1.5);
} */

/* slick-wrap */
.slick-wrap {
  position:relative;
}
.slick-wrap .slick-slide {
  float:left;
  height:300px;
  color:blue;
  background-color:#fff;
  text-align:center;
}
.slick-dots {
  position: absolute;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
}
.slick-dots li {
  float:left;
}
.slick-dots li button {
  width:20px;
  height:20px;
  background:#fff;
  border:1px solid blue;
  border-radius: 50%;
}

/* scroll-box */
.scroll-box > div {
  height:300px;
  border:3px solid #000;
}